.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.h2title {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}